services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - API_FOOTBALL_API_KEY=00fbf30eac06f31e6b7b8896b59638bc
      - API_FOOTBALL_URL=https://v3.football.api-sports.io/
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    restart: unless-stopped

volumes:
  node_modules_volume:
